.editor {
  background-color: #a4a4a4;
  border: 1px solid #6C6C6C;
  color: #000000;
  padding: 10px;
  font-size: 16px;
  z-index: 0;
  border-top: none;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
}