.preview {
	width: 90vw;
	max-width: 800px;
	min-height: 200px;
	overflow: hidden;
  	background-color: rgb(200, 220, 240);
	border: 1px solid #6C6C6C;
	color: rgb(28, 38, 48);
	padding: 0px 1rem;
	font-size: 1rem;
	z-index: 0;
	border-top: none;
}

.preview h1 {
  border-bottom: 2px solid rgb(28,38,48);
}

.preview h2 {
  border-bottom: 1px solid rgb(28,38,48);
}

.preview blockquote {
	margin-left: 1.5rem;
  border-left: 2.5px solid rgb(28,38,48);
}

.preview blockquote p {
	padding-left: 5px;
	color: #383838
}

.preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

.preview code {
	background-color: #282c34;
	color: #abb2bf;
	padding: 4px;
}

.preview code {
	background-color: #282c34;
	color: #abb2bf;
	padding: 4px;
}

.preview a {
	color: blue;
}

.preview table, th, td {
	border: 2px solid rgb(28,38,48);
	border-collapse: collapse;
    padding-left: 5px;
    padding-right: 5px;
	text-align: left;
}

@media only screen and (max-width: 600px) {
	.preview {
		width: 90vw;
	}
}